#flu {
    background-color: #333333;
    height: 85px;
}
ul {
    list-style-type: none;
}
li {
    float: left;
    color: white;
    font-size: 15px;
    padding-left: 15px;
    
}
.icon {
    position: relative;
    top: 27px;
    left: 25px;
}
.input-group-text {
    position: relative;
    left: 370px;
    bottom: 54px;
    border: 1px solid grey;
    padding: 26px;
    height: 70px;
    background-color: #00838C;
}
.form-control {
    height: 70px;
    background-color: #EBEBEB;
}
.num {
    list-style-type: none;
    padding: 10px;
    color: black;
    position: relative;
    left: 250px;
    top: 20px;
}
.img-1 {
    width: 800px;
    height: 450px;
}
.img-2 {
    height: 450px;
}
table tr td {
    padding: 20px;
    padding-left: 100px;
    border: 1px solid black;
}
table {
    margin-left: 40px;
    margin-top: 30px;
}
.tr-in-table {
    position: relative;
    left: 875px;
    bottom: 195px;
    padding: 10px;
    border: 1px solid black;
}

.header-1 {
    margin-left: 30px;
    font-weight: bold;
    color: black;
}
P {
    margin-left: 30px;
    font-weight: 100;
    color: black;
    padding-top: 15px;
}
.reviews-1 {
    
    background-color: #f2f2f2;
    height: 300px;
}
.img-3 {
    margin-top: 30px;
}
.header-2 {
    font-size: 50px;
    font-weight: bold;
}
.paragraph {
    font-size: 20px;
}
.m-r {
    margin-left: 70px;
    margin-top: 30px;
}
.img-4 {
    margin-top: 30px;
    margin-left: 70px;
}
.btn {
    border: 2px solid black;
    font-size: 20px;
    background-color: white;
}
.img-5 {
    margin-top: 30px;
    margin-left: 70px;
}
.img-6 {
    margin-top: 100px;
}
#div-8 {
    margin-top: 100px;
    text-align: center;
    background-color: #ecf9f2;
    padding: 50px;
    height: 400px;
}
.header-3 {
    font-weight: bold;
}
h4 {
    margin-top: 40px;
}
.span-2 {
    position: relative;
    left: 70px;
}
.button-1 {
    width: 400px;
    height: 60px;
    font-weight: bold;
    font-size: 15px;
}
.search-1 {
    width: 100px;
    height: 59px;
    position: relative;
    right: 5px;
    background-color: #000000;
    color: white;
    font-weight: bold;
}
.img-7 {
    margin-top: 50px;
}
.header-4 {
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-top: 90px;
    font-size: 40px;
}
.header-h3 {
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 30px;
}
#div-10 {
    text-align: center;
    margin-top: 100px;
    background-color: rgb(245,247,248);;
}
#div-11 {
    background-color: #000000;
    height: 180px;
}
.img-8 {
    margin-bottom: 70px;
}
.header-5 {
    margin-left: 30px;
    padding: 10px;
    height: 45px;
}
#div-12 {
    background-color: #000000;
    margin-top: 1px;
    text-align: center;
    color: white;
}
#div-13 {
    background-color: #000000;
    margin-top: 1px;
    color: white;
}
.li-2 {
    color: white;
    padding: 12px;
    position: relative;
    right: 10px;
    display: block;
}
.header-h3-1 {
    position: relative;
    left: 5px;
}
.footer-a {
    color: white;
}
.footer-a:hover {
    color: white;
}
#div-15 {
    background-color: #000000;
}
#div-16 {
    background-color: #000000;
    margin-top: 1px;
    

}
.p-3 {
    color: white;
    font-size: 11px;
    font-weight: bold;
}
.footer-a-1 {
    color: white;
}
.footer-list {
    margin-top: 35px;
}
.footer-a-1:hover {
    color: white;
}


